<html>
    <head> 

    </head>

    <body> 
        <form action="/formegeometriche" method = 'GET'>
            scegli la tua forma geometrica: <br>
            <select name="formageometrica">
                <option value="rettangolo">rettangolo</option>
                <option value="quadrato">quadrato</option>
            </select><br><br>

            inserisci l'altezza: <br>
            <input type = 'text' name = 'altezza'><br><br>

            inserisci la base: <br>
            <input type = 'text' name = 'base'><br><br>

            <input type = "submit" value = "submit"/> 
        </form>
    </body>

</html>